{% extends 'base.html' %}
{% load static %}
{% block title %}Личный кабинет: {{ user.username }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md- ">
                <div id='avatar_container' class="container border border-black border-1">
                    <img src="https://avatars.mds.yandex.net/i?id=0776231b03a42500ffe93a58496a86ddb08ab983-5252031-images-thumbs&n=13" class="mx-auto d-block img-fluid" alt="User-avatar">
                </div>
                <div id='avatar_container' class="container border border-black border-1">
                    <img src="https://avatars.mds.yandex.net/i?id=0776231b03a42500ffe93a58496a86ddb08ab983-5252031-images-thumbs&n=13" class="mx-auto d-block img-fluid" alt="User-avatar">
                </div>
            </div>
            <div class="col-md-6">
                <div class="container border border-danger border-bottom"></div>
            </div>
        </div>
    </div>
{% endblock %}